<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Sistema Prestamos | Producto-Eliminar</title>
  </head>
{% extends 'base/base.html'%}
{%block content%}
  <div class="row">
      <div class="col-xs-5">
          <form method="POST" action="">
              {% csrf_token%}
              <h3>¿Desea eliminar el registro de producto "{{ producto.codigo}}" ?</h3>
              <!--{{form.as_p}}-->
              <div style="visibility: hidden;">
              <input name="estado" value="0" class="form-control" required="" id="id_estado" type="text">
              </div>
              <hr>
              <input type='submit' class="btn btn-danger" value='Si, eliminar '>
              <a class = "btn btn-default text-white" href="{% url 'mantenedor:producto_listar' %}">Cancelar</a>
            </form>
      </div>
  </div>
  <br>
</html>
{%endblock%}