{% extends "base/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5 class="box-title">Nuevo usuario</h5>
      </div>
      <div class="ibox-content">
        <form action="" method="post" role="form" autocomplete="off">
          <div class="box-body">
            {% csrf_token %}

            {% bootstrap_field form.username %}

            {% bootstrap_field form.first_name %}

            {% bootstrap_field form.last_name %}

            {% bootstrap_field form.email %}

            {% bootstrap_field form.password1 %}

            {% bootstrap_field form.password2 %}

            {% bootstrap_field form.groups %}

          </div>
          <div class="box-footer">
            <a href="{% url 'usuario:listar' %}" data-original-title="Volver al listado de usuarios" data-toggle="tooltip"
              class="btn btn-primary">
              <i class="fa fa-reply" aria-hidden="true"></i>
              Volver al listado
            </a>
            <button type="submit" class="btn btn-primary pull-right">
              <i class="fas fa-user-plus" aria-hidden="true"></i> Agregar Nuevo Usuario
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}



