<!DOCTYPE html>
<div lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema Prestamos | Prestamo-Listar Devoluciones Daños</title>
</head>
{% extends 'base/base.html' %}
{% block content %}
<div id="" class="gray-bg"><br>
	{% if object_list %}
	<div class="table-responsive"/>
	<h1>LISTA DE DEVOLUCIONES CON DAÑOS</h1>
	<hr>

	<!--<div class="search-form" class="col-md-4">-->
		<!--<form id="search-form" action="" method="get">-->
		  <!--<div class="input-group">-->
			<!--<input type="text" name="q" class="form-control" value="{{ q }}" placeholder="Buscar: Usuarios o Codigo PC" autofocus/>-->
			<!--<span class="input-group-addon" onclick="document.getElementById('search-form').submit()">-->
			  <!--<i class="fas fa-search"></i>-->
			<!--</span>-->
		  <!--</div>-->
		<!--</form>-->
	  <!--</div>-->
	<!--<hr>-->
	<table class="table table-striped">
		<thead>
			<tr>
				<td><strong>Usuario</strong></td>
				<td><strong>Producto</strong></td>
				<td><strong>Fecha Prestamo</strong></td>
				<td><strong>Fecha Devolucion</strong></td>
				<td><strong>Observaciones de Prestamo</strong></td>
				<td><strong>Observaciones de Devolucion</strong></td>
			</tr>
		</thead>
		<tbody>
			{% for prestamos_list in object_list %}
			<tr>
				<td>{{prestamos_list.id_usuario}}</td>
				<td>{{prestamos_list.id_producto}}</td>
				<td>{{prestamos_list.fecha_prestamo}}</td>
				<td>{{prestamos_list.fecha_devolucion}}</td>
				<td>{{prestamos_list.observaciones}}</td>
				<td>{{prestamos_list.observaciones_devolucion}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>Sin registros</h1>
	<hr>
	{% endif %}
</div>
</div>
</html>
{% endblock %}