<!DOCTYPE html>
{% extends 'base/base.html'%}
{% load staticfiles %}
{% load bootstrap3 %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <h1>Reportes</h1>
    <div class="col-sm-12" url-endpoint="{% url 'reportes:api-data' %}">

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group text-white" role="group">
    <a class="btn btn-primary" href="{% url 'reportes:report' %}"></i> Historial Prestamos</a>
  </div>
  <div class="btn-group text-white" role="group">
    <a class="btn btn-primary" href="{% url 'reportes:report_activo' %}"></i> Prestamos Activos</a>
  </div>
  <div class="btn-group text-white" role="group">
    <a class="btn btn-primary" href="{% url 'reportes:report' %}"></i> Productos Mas Usados</a>
  </div>
</div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <div class="col-md-6 col-md-offset-3">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>

<script>
var endpoint = 'api/chart/data/'
var defaultData = []
var labels = []

$.ajax({
    method: "GET",
    url: endpoint,
    success: function (data) {
        labels = data.labels
        defaultData = data.default
        setChart()

    },
    error: function (error_data) {
        console.log("error")
        console.log(error_data)
    }
})

function setChart() {
    var ctx = document.getElementById("myChart");
    //var ctx2 = document.getElementById("myChart2");
    // var myChart = new Chart(ctx2, {
    //     type: 'bar',
    //     data: {
    //         labels: labels,
    //         datasets: [{
    //             label: '# of Votes',
    //             data: defaultData,
    //             backgroundColor: [
    //                 'rgba(255, 99, 132, 0.2)',
    //                 'rgba(54, 162, 235, 0.2)',
    //                 'rgba(255, 206, 86, 0.2)',
    //                 'rgba(75, 192, 192, 0.2)',
    //                 'rgba(153, 102, 255, 0.2)',
    //                 'rgba(255, 159, 64, 0.2)'
    //             ],
    //             borderColor: [
    //                 'rgba(255,99,132,1)',
    //                 'rgba(54, 162, 235, 1)',
    //                 'rgba(255, 206, 86, 1)',
    //                 'rgba(75, 192, 192, 1)',
    //                 'rgba(153, 102, 255, 1)',
    //                 'rgba(255, 159, 64, 1)'
    //             ],
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     beginAtZero: true
    //                 }
    //             }]
    //         }
    //     }
    // });

    var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}

// var ctx = document.getElementById("myChart").getContext('2d');
// var myChart = new Chart(ctx, {
//     type: 'bar',
//     data: {
//         labels: labels,
//         datasets: [{
//             label: '# of Votes',
//             data: defaultData,
//             backgroundColor: [
//                 'rgba(255, 99, 132, 0.2)',
//                 'rgba(54, 162, 235, 0.2)',
//                 'rgba(255, 206, 86, 0.2)',
//                 'rgba(75, 192, 192, 0.2)',
//                 'rgba(153, 102, 255, 0.2)',
//                 'rgba(255, 159, 64, 0.2)'
//             ],
//             borderColor: [
//                 'rgba(255,99,132,1)',
//                 'rgba(54, 162, 235, 1)',
//                 'rgba(255, 206, 86, 1)',
//                 'rgba(75, 192, 192, 1)',
//                 'rgba(153, 102, 255, 1)',
//                 'rgba(255, 159, 64, 1)'
//             ],
//             borderWidth: 1
//         }]
//     },
//     options: {
//         scales: {
//             yAxes: [{
//                 ticks: {
//                     beginAtZero:true
//                 }
//             }]
//         }
//     }
// });
</script>
</body>
</html>

{% endblock %}